extends layout

block content
  h1 Next Games
  ul#next-games
  each team in nextGames         
        li
          a(href="/teams/livestats/" +  team.nextGame.HomeTeam ) #{team.nextGame.HomeTeam} vs #{team.nextGame.AwayTeam}
        br
        