extends layout

block content
  #content
    h1 Next Game's OLA
    p.casa CASA
    p.fora FORA
    .linha
    .linha2
    #main
      each team in nextGames         
          li
            .data 11 de Dezembro de 2016 – #{team.nextGame.Competition.name}
            a(href="/teams/livestats/" +  team.nextGame.HomeTeam )
              .conf Confronto Directo – Últimos
            #ultimos
              .dist
                each game,i in team.nextGame.GamesBetweenTeams
                  if(i <= 4)                    
                    if(game.SameHomeTeam)
                      p Casa
                    else
                      p Fora               
              .res
                each game,i in team.nextGame.GamesBetweenTeams
                  if(i <= 4)                    
                    p #{game.Result}
              .imagem        
                img(src="https://upload.wikimedia.org/wikipedia/pt/f/f0/500px-SL_Benfica_logo_svg.png", width="125px")   
          .homeTeam #{team.nextGame.HomeTeam} 
          .awayTeam #{team.nextGame.AwayTeam}
        
