body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.titulo{
  text-align: center;
  font-size: 20px;
  color: limegreen;
  margin-bottom: 40px;
}
.ola{
  border: 3px solid black;
}
.linha{
  margin-top: 9px;
  border-top: 3px solid yellowgreen;
}
.casa{
  text-align: left;
}
.linha2{
  margin-top: 9px;
  border-top: 3px solid red;
}
.fora{
  text-align: right;
}
.data{
  margin-top: 25px;
  font-size: 14px;
  color: grey;
  text-align: center;
}
.conf{
  text-align: center;
  font-size: 12px;
  color: black !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dist{
  color: grey !important;
  font-size: 10px;
}
.res{
  color: grey !important;
  font-size: 10px;
  text-align: right;
}
.imagem{
  text-align: center;
}
.equipa{
  color: black !important;
  text-align: center;
}
.separar{
  width: 980px;
}




a {
  text-decoration: none !important;
}
li{
  list-style-type: none;
}




li#draw{
  color: yellow;
}

li#lose{
  color: red;
}
li#win{
  color: green;
}


@media (max-width: 768px) {
h1{
  font-size: 100%;
}
}